@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
}
.main-box{
	font-family: 'Overpass', sans-serif;
	background: rgba(106, 175, 255,0.5);
	padding: 50px 0;
}

.main-box .row{
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.main-box .col-12{
	margin: auto;
	margin-top: 20px;
}
.main-box .row h3{
	text-decoration: underline;
	font-size: 30px;
}
.main-box .row p{
	font-size: 18px;
}
.main-box .col-12 img{
	box-shadow: 0 0 10px 5px rgba(106, 175, 255,0.5) ;
	width: 100%;
	height: 100%;
}