@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');



*{
	margin: 0;
	padding: 0;
}

.benar{
	width: 100%;
	height: 84vh;
	background:linear-gradient(0deg, rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url(../image/benar.jpg);	
	background-size: cover;
}
.benar .col-12{
	margin: auto;
	margin-left: 50px;
}
.benar h3{
	width: 70%;
	color: white;
	font-size: 35px;
	font-family: 'Overpass', sans-serif;
	font-weight: 700;
	text-transform: capitalize;
}
.benar div p{
	text-transform: capitalize;
	color: white;
	font-family: 'Mulish', sans-serif;
}
.benar button{
	font-weight: 600;
	background: rgb(106, 175, 255);
	color: white;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/*== Medical Departments ===*/
.departments{
	padding-top: 70px;
	background: #f3f3f3;
}
.departments h3{
	font-family: 'Overpass', sans-serif;
	font-weight: 800;
	letter-spacing: 2px;
	word-spacing: 8px;
	text-align: center ;
	position: relative;
}
.departments  h3::after{
	content: "";
	position: absolute;
	width: 150px;
	height: 1px;
	background: #74b9ff;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
}
.departments .row{
	
	margin: auto;
	padding: 20px 0 100px;
}
.departments .col-12{
	margin:10px 0;
}
.departments-box{
	background: white;
	width: 100%;
	height: 350px;
	border: 1px solid rgb(106,175, 255);
	border-radius: 5px;
}
.departments-box .icon{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.departments-box .icon img{
	width: 100px;
	height: 100px;
}
.departments .icon-details h5{
	text-align: center;
	margin-top: 8px;
	text-transform: capitalize;
}

.departments .icon-details p{
	text-align: center;
	text-transform: capitalize;
	padding: 10px 15px;
}

.departments .icon-btn{
	display: grid;
	place-items: center;
}
.departments .icon-btn button{
	border: 1px solid #74b9ff;
	border-radius: 30px;
	background: white;
	padding: 7px 20px;
	font-weight: 600;
}
.departments .departments-box:hover {
	box-shadow: 0 0 20px 5px rgba(106, 175, 255,0.3); 
}
.departments .departments-box:hover button{
	background: #74b9ff;
	color: white;
	;
}
/*=========== dpartment end =============*/

/* ======== About ========== */
.about{
	background: white;
	width: 100%;
	height: auto;
}
.about .container{
	margin: auto;
}
.about-box{
	margin:50px auto;
}
.about .about-box .about-image{
	height: 500px;
	width: 100%;
	background: black;
	background-image: url(../image/pexels-tima-miroshnichenko-5452268.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}
.image-details
{
	margin: auto;
	position: absolute;
	bottom: 20px;
	width: 89%;
	background-color: rgba(106, 175, 255,0.5);
	height: 100px;
}
.image-details:hover p{
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.image-details p
{
	font-size: 14px;
	padding: 10px;
	color: white;
	text-align: justify;
	font-family: 'Mulish', sans-serif;	
}
.about .services{
	padding: 10px;
}
.about .services h2{
	font-size: 30px;
	text-transform: capitalize;
	letter-spacing: 1px;
	word-spacing: 5px;
	font-family: 'Overpass', sans-serif;
	position: relative;
}
.about .services h2::after{
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100px;
	height: 1px;
	background-color: rgb(106, 175, 255);
}
.about .services h2:hover::after{
	height: 1.5px;
}

.about .services p{
	margin-top: 25px;
	line-height: 28px;
	font-family: 'Mulish', sans-serif;	
	letter-spacing: 0.5px;
	word-spacing: 3.4px;
	font-family: 16px;
	text-align: justify;
}
.about .services .services-image{
	margin-top: 30px;
}
.about .services .services-image img{
	width: 100%;
	height: 100px;
}
/* ======== About end ======== */


/*========= gallery  ========*/
        #gallery{
        	margin: 70px 0;
        }
        .gallery-h5 {
        	text-align: center;
            font-size: 2.4rem;
			font-family: 'Overpass', sans-serif;
			margin-bottom: 30px;
        }
        
        .gallery .col-12 {
            height: 70vh;
            width: 70vw;
            background-color: azure;
            box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.2);
            position: relative;
            cursor: pointer;
            padding: 50px 0;
        }
        
        .gallery .col-12 .clip {
            position: absolute;
            top: 0;
            left: 0;
            height: inherit;
            width: 100%;
            transition: all 0.5s linear;
        }
        
        .gallery .col-12 .img1 {
            background-image: url(../image/arseny-togulev-DE6rYp1nAho-unsplash.jpg);
            background-position: left;
            background-size: contain;
            clip-path: polygon(0 0, 26% 0, 42% 100%, 0 100%);
        }
        
        .gallery .col-12 .img2 {
            background-image: url(../image/national-cancer-institute-701-FJcjLAQ-unsplash.jpg);
            background-position: center;
            background-size: contain;
            clip-path: polygon(26% 0, 79% 0, 64% 100%, 42% 100%);
        }
        
        .gallery .col-12 .img3 {
            background-image: url(../image/piron-guillaume-U4FyCp3-KzY-unsplash.jpg);
            background-position: right;
            background-size: contain;
            clip-path: polygon(79% 0, 100% 0, 100% 100%, 64% 100%);
        }
        
        .gallery .col-12:hover .clip {
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
        
        .gallery .col-12 .clip:hover {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            background-position: center;
            background-size: cover;
        }
        .gallery-btn{
        	margin-top: 40px;
        }
		.gallery-btn a{
			border: 1px solid #74b9ff;
			border-radius: 30px;
			background: white;
			padding: 10px 20px;
			font-weight: 600;
			margin-left: 50%;
        	transform: translateX(-50%);
        	text-decoration: none;
        	transition: all linear 0.3s;
		}
		.gallery-btn a:hover{
			background: #74b9ff;
			color: white!important;
		}



/*========= gallery .col-12 end ============ */

/*===== doctor ========= */

.specialist 
{
	background: rgb(106, 175, 255);
	margin: 0;
	padding-top: 50px;
	text-align: center;
	font-family: 'Overpass', sans-serif;
	font-weight: 800;
	letter-spacing: 2px;
	word-spacing: 8px;
	color: white;
	position: relative;
text-transform: capitalize;
}

.specialist::after{
	content: "";
	position: absolute;
	width: 70px;
	height: 1px;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
}
#doctor
{
	background:rgb(106, 175, 255) ;
	width: 100%;
	height: auto;
	margin: auto;
}
#doctor .col-12{
	width: 100%;
	margin: auto;
	padding: 0;
	margin: 50px auto;
}
#doctor .doctor-box{
	background: white;
	width: 100%;
	height: auto;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
	padding: 30px 0;
	margin: auto;

}
.doctor-img {
	display: flex;
	justify-content: center;
	align-content: center;
}
.doctor-img img{
	width: 175px;
	height: 175px;
	border-radius: 175px;
}
.doctor-details
{
	margin-top: 15px;
}
.doctor-details p{
	text-align: center;
	text-transform: capitalize;

}
.doctor-details ul{
	list-style: none;
	height: 0;
	margin: 50px auto 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;	
		

}
.doctor-details ul a{
	font-size: 23px;
	padding: 7px 15px;
	color: #74b9ff;
	border: 1px solid;
	border-radius: 10px;
	text-decoration: none;
}
.doctor-details ul a:hover{
	background-color: #74b9ff;
	color: white;
	text-decoration: none;
}
a{
	text-decoration: none!important;
}
.doctor-details ul li{
	float: left;
	margin: 0 20px;
}


@media screen and (max-width: 771px)
{
	
	.benar{
		width: 100%;
		height: 40vh;
		background:linear-gradient(0deg, rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url(../image/benar.jpg);	
		background-size: cover;
	}
	.benar .col-12{
		margin: auto;
		margin-left: 0;
	}
	.benar h3{
		width: 100%;
		font-size: 25px;
	}
	.benar div p{
		font-size: 10px;
	}
	.benar button{
		font-size: 14px;
	}
	.departments h3{
		font-size: 23px;
	}
	.departments h3::after{
		width: 130px;
	}
	.about .services{
		overflow: hidden;
	}
	.about .services .services-image .col-4{
		padding: 0 5px;
	}
	.about .services .services-image img{
		height: 80px;
	}
	
    .gallery .col-12 {
        height: 35vh;
    width: 100%;
    }
}